<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<display-name>mysite02</display-name>

	<!-- Context Parameters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<!-- ContextLoadListener -->
	<listener>
		<listener-class>com.bit2025.web.ContextLoadListener</listener-class>
	</listener>

	<!-- Filters -->
	<filter>
		<filter-name>MyFilter01</filter-name>
		<filter-class>com.bit2025.web.MyFilter01</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter01</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>MyFilter02</filter-name>
		<filter-class>com.bit2025.web.MyFilter02</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter02</filter-name>
		<url-pattern>/user</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.bit2025.mysite.controller.MainServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/servlet-context.xml</param-value>
		</init-param>
	</servlet>

	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.bit2025.mysite.controller.UserServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GuestbookServlet</servlet-name>
		<servlet-class>com.bit2025.mysite.controller.GuestbookServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardServlet</servlet-name>
		<servlet-class>com.bit2025.mysite.controller.BoardServlet</servlet-class>
	</servlet>


	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GuestbookServlet</servlet-name>
		<url-pattern>/guestbook</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardServlet</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>


	<!-- Common Errors -->
	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/views/errors/400.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/errors/500.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/errors/404.jsp</location>
	</error-page>


	<!-- Welcome Files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
</web-app>